.row-fluid{ :style => 'height:70%;display:none;' }
  .span12.channels{ :style => 'border: 1px solid #ccc;border-radius:5px;margin-top:1%;'}

.row-fluid{ :style => 'height:70%;display:none;' }
  .span12.users{ :style => 'border: 1px solid #ccc;border-radius:5px;margin-top:1%;'}

