%td{ :style => 'vertical-align:top;width:35px;' }
  <%= moment(model.get('timestamp')).format('HH:mm') %>
%td{ :style => 'font-weight:bold;vertical-align:top;white-space:nowrap;text-align:right;' }
  <%= model.nick() %>
%td{ :style => 'vertical-align:top;padding-left:10px;width:100%;' }<
  %i <%= (model.get('nick') == App.user.nick() ? 'you' : model.get('nick')) %> entered the channel
