%li{ :style => 'padding:10px 10px 0px 0px;'}
  %span.label.label-info{ :style => 'display:inline-block;padding:0px 5px 0px;cursor:default;' } channels

<% var channelCode = Backbone.history.fragment.replace('channels/',''); %>
<% _.each(channels, function (channel) {  %>
%li{ :class => 'channel_list_item <%= channelCode == channel.get("code") ? "active" : "" %>' }
  %a{ :href => "#channels/<%= channel.get('code') %>" }
    \#<%= channel.get('name') %>

<% }) %>
