.modal-header
  %a.cancel.close{ :href => '#' } ×
  %h3 modal header
.modal-body
  modal body
.modal-footer
  modal footer
  %a.btn.small.cancel.close{ :href => '#', :style => 'margin-top:0px;' } Cancel
