%h1 Users
%br
%button.btn.new_user_invitation Invite a new user
%br
%table.table.table-condensed
  %thead
    %th name
    %th email
    %th confirmed?
    %th confirmed at
    %th invited?
    %th invitation accepted?
    %th accepted at

  %tbody.settings_users_index