%td
  <%= model.get('name') %>
%td
  <%= model.get('email') %>
%td
  <%= model.get('confirmed') %>
%td
  <%= model.get('confirmed_at') %>
%td
  <%= model.get('invited') %>
%td
  <%= model.get('invitation_accepted') %>
%td
  <%= model.get('invitation_accepted_at') %>
