html{ overflow-y: scroll; height: 100%; }
body{ position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; padding-top: 40px; font-family: 'Ubuntu', sans-serif; }
:focus { -moz-outline-style: none; }
:-moz-any-link:focus { outline: none; }
a{ cursor: pointer; }
.container{ width: 95% !important; height: 100%; }
.rest form legend{ font-size: 16px; }
.rest a.close, ._alert_view a.close, .message-alert a.close{ cursor: pointer; }
.input.error input, .input.error textarea, input.error, textarea.error{ border-color: #EE5F5B; color: #B94A48; }
label.error, form .input.error .help-block, form .input.error .help-inline, form .help-block.error, form .help-inline.error{ color: #B94A48; }
.help-inline.as_error{ margin-bottom: 0px; font-size: 10px !important; padding-left: 0px; }
.help-inline, .help-block{ font-size: 12px !important; }
.help-inline{ font-size: 11px; }
.help-inline.error{ font-size: 9px; }
.events .btn{ vertical-align: top; }
.table.table-condensed{ margin-bottom: 5px; }
.table-condensed{ font-size: 10px }
.table-condensed td{ padding: 1px 2px; }
.table td, .table th{ border-top: none; }
.control-label.inline{ display: inline-block; }

/* paleio */

.settings .channels > div, .settings .users > div{ padding: 10px; }