.row-fluid{ :style => 'height:70%;display:none;' }
  .span9.log_frame{ :style => 'overflow-y:auto;overflow-x:hidden;height:91%;margin:1% 0;border: 1px solid #ccc;border-radius:5px;padding:0.6%;'}
    %table{ :style => 'width:100%;' }
      %tbody.channel_log
  .span2{ :style => 'margin:1% 0 1% 1%;border: 1px solid #ccc;border-radius:5px;padding:0.6%;' }
    %h2
      <%= model.get('name') %>

.row-fluid{ :style => 'padding: 0 0 0 0.6%;font-size: 13px;min-height:20px;height:2.5%;clear:both;' }
  %span.user_clock{ :style => '' }
    <%= moment().format('HH:mm') %>
  %span{ :style => 'font-weight: bold;' }
    <%= App.user.nick() %>
.row-fluid.channel_input{ :style => 'height:25%;display:none;clear:both;' }
  .span5{ :style => 'height:60%;position:relative;' }
    %textarea.span4.user_input{ :disabled => 'disabled', :style => 'border:1px solid #666;width:auto;margin:0;height:100%;', :rows => 4, :cols => 100 }
  .span2
    %button.btn.submit_input Send message
