.hero-unit
  %h1 paleio
  %p
    %br
    paleio is a collaboration chat.
    with file sharing.
    and invitations.
    and syntax highlight.
    <span style="text-decoration:line-through">and image preview</span>.

