%td{ :style => 'vertical-align:top;width:35px;' }
  <%= moment(model.get('timestamp')).format('HH:mm') %>
%td{ :style => 'font-weight:bold;vertical-align:top;white-space:nowrap;' }
  <%= model.get('nick') %>
%td.input{ :style => 'vertical-align:top;padding-left:10px;width:100%;' }<
  <% var prettyInput = model.get('text').split("\n").join("<br />") %>
  <%= prettyInput %>